-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."Role" AS ENUM ('USER', 'ADMIN', 'MODERATOR');

-- CreateEnum
CREATE TYPE "public"."Rarity" AS ENUM ('COMMON', 'UNCOMMON', 'RARE', 'EPIC', 'LEGENDARY');

-- CreateEnum
CREATE TYPE "public"."Slot" AS ENUM ('NONE', 'HEAD', 'FACE', 'CHEST', 'LEGS', 'FEET', 'HANDS', 'ONE_HAND', 'TWO_HANDS', 'RING', 'AMULET', 'BELT', 'BACKPACK', 'CLOAK');

-- CreateEnum
CREATE TYPE "public"."Sex" AS ENUM ('MALE', 'FEMALE');

-- CreateEnum
CREATE TYPE "public"."Visibility" AS ENUM ('PUBLIC', 'PRIVATE', 'HIDDEN');

-- CreateTable
CREATE TABLE "public"."users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" "public"."Role" NOT NULL DEFAULT 'USER',
    "isEmailVerified" BOOLEAN NOT NULL DEFAULT false,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "name" TEXT,
    "bio" TEXT,
    "oauthProvider" TEXT,
    "oauthId" TEXT,
    "lastPasswordChange" TIMESTAMP(3),
    "lastLogin" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "isBanned" BOOLEAN NOT NULL DEFAULT false,
    "banReason" TEXT,
    "bannedUntil" TIMESTAMP(3),
    "bannedById" TEXT,
    "profilePictureId" TEXT,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."refresh_tokens" (
    "id" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "isRevoked" BOOLEAN NOT NULL DEFAULT false,
    "deviceInfo" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "refresh_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."images" (
    "id" TEXT NOT NULL,
    "blob" BYTEA NOT NULL,
    "description" TEXT,
    "filename" TEXT NOT NULL,
    "size" INTEGER NOT NULL,
    "mimeType" TEXT NOT NULL,
    "width" INTEGER NOT NULL,
    "height" INTEGER NOT NULL,
    "ownerId" TEXT,
    "visibility" "public"."Visibility" NOT NULL DEFAULT 'PUBLIC',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "images_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."tags" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "ownerId" TEXT,
    "visibility" "public"."Visibility" NOT NULL DEFAULT 'PUBLIC',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tags_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."races" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "healthModifier" INTEGER NOT NULL DEFAULT 100,
    "manaModifier" INTEGER NOT NULL DEFAULT 100,
    "staminaModifier" INTEGER NOT NULL DEFAULT 100,
    "strengthModifier" INTEGER NOT NULL DEFAULT 10,
    "constitutionModifier" INTEGER NOT NULL DEFAULT 10,
    "dexterityModifier" INTEGER NOT NULL DEFAULT 10,
    "intelligenceModifier" INTEGER NOT NULL DEFAULT 10,
    "wisdomModifier" INTEGER NOT NULL DEFAULT 10,
    "charismaModifier" INTEGER NOT NULL DEFAULT 10,
    "ownerId" TEXT,
    "imageId" TEXT,
    "visibility" "public"."Visibility" NOT NULL DEFAULT 'PUBLIC',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "races_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."archetypes" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "imageId" TEXT,
    "ownerId" TEXT,
    "visibility" "public"."Visibility" NOT NULL DEFAULT 'PUBLIC',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "archetypes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."skills" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "requiredLevel" INTEGER NOT NULL DEFAULT 1,
    "imageId" TEXT,
    "ownerId" TEXT,
    "visibility" "public"."Visibility" NOT NULL DEFAULT 'PUBLIC',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "skills_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."perks" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "requiredLevel" INTEGER NOT NULL DEFAULT 0,
    "imageId" TEXT,
    "ownerId" TEXT,
    "visibility" "public"."Visibility" NOT NULL DEFAULT 'PUBLIC',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "perks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."items" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "bonusHealth" INTEGER,
    "bonusMana" INTEGER,
    "bonusStamina" INTEGER,
    "bonusStrength" INTEGER,
    "bonusConstitution" INTEGER,
    "bonusDexterity" INTEGER,
    "bonusIntelligence" INTEGER,
    "bonusWisdom" INTEGER,
    "bonusCharisma" INTEGER,
    "damage" INTEGER,
    "defense" INTEGER,
    "rarity" "public"."Rarity" NOT NULL DEFAULT 'COMMON',
    "slot" "public"."Slot" NOT NULL DEFAULT 'NONE',
    "requiredLevel" INTEGER NOT NULL DEFAULT 1,
    "weight" DOUBLE PRECISION NOT NULL DEFAULT 1.0,
    "durability" INTEGER NOT NULL DEFAULT 100,
    "maxDurability" INTEGER NOT NULL DEFAULT 100,
    "value" INTEGER NOT NULL DEFAULT 0,
    "is2Handed" BOOLEAN NOT NULL DEFAULT false,
    "isThrowable" BOOLEAN NOT NULL DEFAULT false,
    "isConsumable" BOOLEAN NOT NULL DEFAULT false,
    "isQuestItem" BOOLEAN NOT NULL DEFAULT false,
    "isTradeable" BOOLEAN NOT NULL DEFAULT true,
    "ownerId" TEXT,
    "imageId" TEXT,
    "visibility" "public"."Visibility" NOT NULL DEFAULT 'PUBLIC',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."equipment" (
    "id" TEXT NOT NULL,
    "characterId" TEXT NOT NULL,
    "headId" TEXT,
    "faceId" TEXT,
    "chestId" TEXT,
    "legsId" TEXT,
    "feetId" TEXT,
    "handsId" TEXT,
    "rightHandId" TEXT,
    "leftHandId" TEXT,
    "rightRingId" TEXT,
    "leftRingId" TEXT,
    "amuletId" TEXT,
    "beltId" TEXT,
    "backpackId" TEXT,
    "cloakId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "equipment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."characters" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "sex" "public"."Sex" NOT NULL DEFAULT 'MALE',
    "age" INTEGER NOT NULL DEFAULT 18,
    "description" TEXT,
    "level" INTEGER NOT NULL DEFAULT 1,
    "experience" INTEGER NOT NULL DEFAULT 0,
    "imageId" TEXT,
    "ownerId" TEXT NOT NULL,
    "health" INTEGER NOT NULL DEFAULT 100,
    "mana" INTEGER NOT NULL DEFAULT 100,
    "stamina" INTEGER NOT NULL DEFAULT 100,
    "strength" INTEGER NOT NULL DEFAULT 10,
    "constitution" INTEGER NOT NULL DEFAULT 10,
    "dexterity" INTEGER NOT NULL DEFAULT 10,
    "intelligence" INTEGER NOT NULL DEFAULT 10,
    "wisdom" INTEGER NOT NULL DEFAULT 10,
    "charisma" INTEGER NOT NULL DEFAULT 10,
    "raceId" TEXT NOT NULL,
    "archetypeId" TEXT NOT NULL,
    "visibility" "public"."Visibility" NOT NULL DEFAULT 'PUBLIC',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "characters_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."_RaceSkills" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_RaceSkills_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_RaceTags" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_RaceTags_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_ArchetypeSkills" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_ArchetypeSkills_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_ArchetypeRequiredRaces" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_ArchetypeRequiredRaces_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_ArchetypeTags" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_ArchetypeTags_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_SkillTags" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_SkillTags_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_PerkTags" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_PerkTags_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_ItemBonusSkills" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_ItemBonusSkills_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_ItemBonusPerks" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_ItemBonusPerks_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_ItemTags" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_ItemTags_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_CharacterInventory" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_CharacterInventory_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_CharacterSkills" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_CharacterSkills_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_CharacterPerks" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_CharacterPerks_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "public"."_CharacterTags" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_CharacterTags_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "public"."users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_profilePictureId_key" ON "public"."users"("profilePictureId");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "public"."users"("email");

-- CreateIndex
CREATE INDEX "users_name_idx" ON "public"."users"("name");

-- CreateIndex
CREATE INDEX "idx_users_role_active_created" ON "public"."users"("role", "isActive", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "idx_users_email_status" ON "public"."users"("email", "isActive", "isEmailVerified");

-- CreateIndex
CREATE INDEX "idx_users_created_at_desc" ON "public"."users"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "idx_users_last_login" ON "public"."users"("lastLogin" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "refresh_tokens_token_key" ON "public"."refresh_tokens"("token");

-- CreateIndex
CREATE INDEX "refresh_tokens_token_idx" ON "public"."refresh_tokens"("token");

-- CreateIndex
CREATE INDEX "refresh_tokens_userId_idx" ON "public"."refresh_tokens"("userId");

-- CreateIndex
CREATE INDEX "refresh_tokens_expiresAt_idx" ON "public"."refresh_tokens"("expiresAt");

-- CreateIndex
CREATE INDEX "idx_refresh_tokens_token_active" ON "public"."refresh_tokens"("token", "isRevoked", "expiresAt");

-- CreateIndex
CREATE INDEX "idx_refresh_tokens_user_active" ON "public"."refresh_tokens"("userId", "isRevoked", "expiresAt");

-- CreateIndex
CREATE INDEX "images_ownerId_idx" ON "public"."images"("ownerId");

-- CreateIndex
CREATE INDEX "images_visibility_idx" ON "public"."images"("visibility");

-- CreateIndex
CREATE INDEX "idx_images_owner_visibility" ON "public"."images"("ownerId", "visibility", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "idx_images_visibility_created" ON "public"."images"("visibility", "createdAt" DESC);

-- CreateIndex
CREATE UNIQUE INDEX "tags_name_key" ON "public"."tags"("name");

-- CreateIndex
CREATE INDEX "tags_name_idx" ON "public"."tags"("name");

-- CreateIndex
CREATE INDEX "tags_ownerId_idx" ON "public"."tags"("ownerId");

-- CreateIndex
CREATE INDEX "tags_visibility_idx" ON "public"."tags"("visibility");

-- CreateIndex
CREATE INDEX "idx_tags_owner_visibility" ON "public"."tags"("ownerId", "visibility", "name");

-- CreateIndex
CREATE UNIQUE INDEX "races_name_key" ON "public"."races"("name");

-- CreateIndex
CREATE INDEX "races_name_idx" ON "public"."races"("name");

-- CreateIndex
CREATE INDEX "races_ownerId_idx" ON "public"."races"("ownerId");

-- CreateIndex
CREATE INDEX "races_visibility_idx" ON "public"."races"("visibility");

-- CreateIndex
CREATE INDEX "idx_races_owner_visibility" ON "public"."races"("ownerId", "visibility", "name");

-- CreateIndex
CREATE INDEX "idx_races_modifiers" ON "public"."races"("strengthModifier", "constitutionModifier", "dexterityModifier");

-- CreateIndex
CREATE UNIQUE INDEX "archetypes_name_key" ON "public"."archetypes"("name");

-- CreateIndex
CREATE INDEX "archetypes_name_idx" ON "public"."archetypes"("name");

-- CreateIndex
CREATE INDEX "archetypes_ownerId_idx" ON "public"."archetypes"("ownerId");

-- CreateIndex
CREATE INDEX "archetypes_visibility_idx" ON "public"."archetypes"("visibility");

-- CreateIndex
CREATE INDEX "idx_archetypes_owner_visibility" ON "public"."archetypes"("ownerId", "visibility", "name");

-- CreateIndex
CREATE UNIQUE INDEX "skills_name_key" ON "public"."skills"("name");

-- CreateIndex
CREATE INDEX "skills_name_idx" ON "public"."skills"("name");

-- CreateIndex
CREATE INDEX "skills_ownerId_idx" ON "public"."skills"("ownerId");

-- CreateIndex
CREATE INDEX "skills_visibility_idx" ON "public"."skills"("visibility");

-- CreateIndex
CREATE INDEX "idx_skills_level_visibility" ON "public"."skills"("requiredLevel", "visibility", "ownerId");

-- CreateIndex
CREATE INDEX "idx_skills_owner_visibility" ON "public"."skills"("ownerId", "visibility", "name");

-- CreateIndex
CREATE UNIQUE INDEX "perks_name_key" ON "public"."perks"("name");

-- CreateIndex
CREATE INDEX "perks_name_idx" ON "public"."perks"("name");

-- CreateIndex
CREATE INDEX "perks_ownerId_idx" ON "public"."perks"("ownerId");

-- CreateIndex
CREATE INDEX "perks_visibility_idx" ON "public"."perks"("visibility");

-- CreateIndex
CREATE INDEX "idx_perks_level_visibility" ON "public"."perks"("requiredLevel", "visibility", "ownerId");

-- CreateIndex
CREATE INDEX "idx_perks_owner_visibility" ON "public"."perks"("ownerId", "visibility", "name");

-- CreateIndex
CREATE UNIQUE INDEX "items_name_key" ON "public"."items"("name");

-- CreateIndex
CREATE INDEX "items_name_idx" ON "public"."items"("name");

-- CreateIndex
CREATE INDEX "items_rarity_idx" ON "public"."items"("rarity");

-- CreateIndex
CREATE INDEX "items_slot_idx" ON "public"."items"("slot");

-- CreateIndex
CREATE INDEX "items_requiredLevel_idx" ON "public"."items"("requiredLevel");

-- CreateIndex
CREATE INDEX "items_ownerId_idx" ON "public"."items"("ownerId");

-- CreateIndex
CREATE INDEX "items_visibility_idx" ON "public"."items"("visibility");

-- CreateIndex
CREATE INDEX "idx_items_rarity_slot_level" ON "public"."items"("rarity", "slot", "requiredLevel", "visibility");

-- CreateIndex
CREATE INDEX "idx_items_owner_visibility" ON "public"."items"("ownerId", "visibility", "name");

-- CreateIndex
CREATE INDEX "idx_items_slot_level" ON "public"."items"("slot", "requiredLevel");

-- CreateIndex
CREATE INDEX "idx_items_combat_stats" ON "public"."items"("damage", "defense");

-- CreateIndex
CREATE UNIQUE INDEX "equipment_characterId_key" ON "public"."equipment"("characterId");

-- CreateIndex
CREATE INDEX "equipment_characterId_idx" ON "public"."equipment"("characterId");

-- CreateIndex
CREATE UNIQUE INDEX "characters_name_key" ON "public"."characters"("name");

-- CreateIndex
CREATE INDEX "characters_name_idx" ON "public"."characters"("name");

-- CreateIndex
CREATE INDEX "characters_raceId_idx" ON "public"."characters"("raceId");

-- CreateIndex
CREATE INDEX "characters_archetypeId_idx" ON "public"."characters"("archetypeId");

-- CreateIndex
CREATE INDEX "characters_level_idx" ON "public"."characters"("level");

-- CreateIndex
CREATE INDEX "characters_ownerId_idx" ON "public"."characters"("ownerId");

-- CreateIndex
CREATE INDEX "characters_visibility_idx" ON "public"."characters"("visibility");

-- CreateIndex
CREATE INDEX "idx_characters_owner_visibility" ON "public"."characters"("ownerId", "visibility", "level" DESC, "createdAt" DESC);

-- CreateIndex
CREATE INDEX "idx_characters_race_archetype" ON "public"."characters"("raceId", "archetypeId", "visibility");

-- CreateIndex
CREATE INDEX "idx_characters_level_visibility" ON "public"."characters"("level", "visibility", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "idx_characters_stats" ON "public"."characters"("level", "experience", "strength", "constitution");

-- CreateIndex
CREATE INDEX "_RaceSkills_B_index" ON "public"."_RaceSkills"("B");

-- CreateIndex
CREATE INDEX "_RaceTags_B_index" ON "public"."_RaceTags"("B");

-- CreateIndex
CREATE INDEX "_ArchetypeSkills_B_index" ON "public"."_ArchetypeSkills"("B");

-- CreateIndex
CREATE INDEX "_ArchetypeRequiredRaces_B_index" ON "public"."_ArchetypeRequiredRaces"("B");

-- CreateIndex
CREATE INDEX "_ArchetypeTags_B_index" ON "public"."_ArchetypeTags"("B");

-- CreateIndex
CREATE INDEX "_SkillTags_B_index" ON "public"."_SkillTags"("B");

-- CreateIndex
CREATE INDEX "_PerkTags_B_index" ON "public"."_PerkTags"("B");

-- CreateIndex
CREATE INDEX "_ItemBonusSkills_B_index" ON "public"."_ItemBonusSkills"("B");

-- CreateIndex
CREATE INDEX "_ItemBonusPerks_B_index" ON "public"."_ItemBonusPerks"("B");

-- CreateIndex
CREATE INDEX "_ItemTags_B_index" ON "public"."_ItemTags"("B");

-- CreateIndex
CREATE INDEX "_CharacterInventory_B_index" ON "public"."_CharacterInventory"("B");

-- CreateIndex
CREATE INDEX "_CharacterSkills_B_index" ON "public"."_CharacterSkills"("B");

-- CreateIndex
CREATE INDEX "_CharacterPerks_B_index" ON "public"."_CharacterPerks"("B");

-- CreateIndex
CREATE INDEX "_CharacterTags_B_index" ON "public"."_CharacterTags"("B");

-- AddForeignKey
ALTER TABLE "public"."users" ADD CONSTRAINT "users_profilePictureId_fkey" FOREIGN KEY ("profilePictureId") REFERENCES "public"."images"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."refresh_tokens" ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."images" ADD CONSTRAINT "images_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."tags" ADD CONSTRAINT "tags_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."races" ADD CONSTRAINT "races_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."races" ADD CONSTRAINT "races_imageId_fkey" FOREIGN KEY ("imageId") REFERENCES "public"."images"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."archetypes" ADD CONSTRAINT "archetypes_imageId_fkey" FOREIGN KEY ("imageId") REFERENCES "public"."images"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."archetypes" ADD CONSTRAINT "archetypes_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."skills" ADD CONSTRAINT "skills_imageId_fkey" FOREIGN KEY ("imageId") REFERENCES "public"."images"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."skills" ADD CONSTRAINT "skills_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."perks" ADD CONSTRAINT "perks_imageId_fkey" FOREIGN KEY ("imageId") REFERENCES "public"."images"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."perks" ADD CONSTRAINT "perks_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."items" ADD CONSTRAINT "items_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "public"."users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."items" ADD CONSTRAINT "items_imageId_fkey" FOREIGN KEY ("imageId") REFERENCES "public"."images"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_characterId_fkey" FOREIGN KEY ("characterId") REFERENCES "public"."characters"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_headId_fkey" FOREIGN KEY ("headId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_faceId_fkey" FOREIGN KEY ("faceId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_chestId_fkey" FOREIGN KEY ("chestId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_legsId_fkey" FOREIGN KEY ("legsId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_feetId_fkey" FOREIGN KEY ("feetId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_handsId_fkey" FOREIGN KEY ("handsId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_rightHandId_fkey" FOREIGN KEY ("rightHandId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_leftHandId_fkey" FOREIGN KEY ("leftHandId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_rightRingId_fkey" FOREIGN KEY ("rightRingId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_leftRingId_fkey" FOREIGN KEY ("leftRingId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_amuletId_fkey" FOREIGN KEY ("amuletId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_beltId_fkey" FOREIGN KEY ("beltId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_backpackId_fkey" FOREIGN KEY ("backpackId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."equipment" ADD CONSTRAINT "equipment_cloakId_fkey" FOREIGN KEY ("cloakId") REFERENCES "public"."items"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."characters" ADD CONSTRAINT "characters_imageId_fkey" FOREIGN KEY ("imageId") REFERENCES "public"."images"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."characters" ADD CONSTRAINT "characters_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."characters" ADD CONSTRAINT "characters_raceId_fkey" FOREIGN KEY ("raceId") REFERENCES "public"."races"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."characters" ADD CONSTRAINT "characters_archetypeId_fkey" FOREIGN KEY ("archetypeId") REFERENCES "public"."archetypes"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_RaceSkills" ADD CONSTRAINT "_RaceSkills_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."races"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_RaceSkills" ADD CONSTRAINT "_RaceSkills_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_RaceTags" ADD CONSTRAINT "_RaceTags_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."races"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_RaceTags" ADD CONSTRAINT "_RaceTags_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ArchetypeSkills" ADD CONSTRAINT "_ArchetypeSkills_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."archetypes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ArchetypeSkills" ADD CONSTRAINT "_ArchetypeSkills_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ArchetypeRequiredRaces" ADD CONSTRAINT "_ArchetypeRequiredRaces_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."archetypes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ArchetypeRequiredRaces" ADD CONSTRAINT "_ArchetypeRequiredRaces_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."races"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ArchetypeTags" ADD CONSTRAINT "_ArchetypeTags_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."archetypes"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ArchetypeTags" ADD CONSTRAINT "_ArchetypeTags_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_SkillTags" ADD CONSTRAINT "_SkillTags_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_SkillTags" ADD CONSTRAINT "_SkillTags_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_PerkTags" ADD CONSTRAINT "_PerkTags_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."perks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_PerkTags" ADD CONSTRAINT "_PerkTags_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ItemBonusSkills" ADD CONSTRAINT "_ItemBonusSkills_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ItemBonusSkills" ADD CONSTRAINT "_ItemBonusSkills_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ItemBonusPerks" ADD CONSTRAINT "_ItemBonusPerks_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ItemBonusPerks" ADD CONSTRAINT "_ItemBonusPerks_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."perks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ItemTags" ADD CONSTRAINT "_ItemTags_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_ItemTags" ADD CONSTRAINT "_ItemTags_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_CharacterInventory" ADD CONSTRAINT "_CharacterInventory_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."characters"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_CharacterInventory" ADD CONSTRAINT "_CharacterInventory_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."items"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_CharacterSkills" ADD CONSTRAINT "_CharacterSkills_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."characters"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_CharacterSkills" ADD CONSTRAINT "_CharacterSkills_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."skills"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_CharacterPerks" ADD CONSTRAINT "_CharacterPerks_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."characters"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_CharacterPerks" ADD CONSTRAINT "_CharacterPerks_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."perks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_CharacterTags" ADD CONSTRAINT "_CharacterTags_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."characters"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_CharacterTags" ADD CONSTRAINT "_CharacterTags_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."tags"("id") ON DELETE CASCADE ON UPDATE CASCADE;

