{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "insertPragma": false,
  "proseWrap": "preserve",
  "requirePragma": false,
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "trailingComma": "none",
        "printWidth": 120,
        "semi": false
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "always",
        "printWidth": 100,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "semi": false,
        "trailingComma": "all"
      }
    },
    {
      "files": "package.json",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "trailingComma": "none"
      }
    }
  ]
}
