{
    "semi": false,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 100,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": true,
    "proseWrap": "preserve",
    "requirePragma": false,
    "vueIndentScriptAndStyle": false,
    "embeddedLanguageFormatting": "auto",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2,
                "printWidth": 80,
                "proseWrap": "always"
            }
        }
    ]
}
